{# blank.nunjuks #}

{# TEST #}

{% if (site.entorno == "dev" or site.entorno == "test") and testing == "true" %}

<div class="info-dev">
    <p>Title: {{ site.name }}</p>
    <p>Entorno: {{ entorno }}</p>
    <p>version: {{ site.version }}</p>
</div>

{% endif %}
{##}

<!DOCTYPE html>
<html lang="en">
	{% include "includes/head.njk" %}
<body>

	{# You write code for this content block in another file #}
	<div class="content">
		<div class="content__inner">
			{% block content %} {% endblock %}
		</div>
	</div>

	{% include "includes/scripts.njk" %}
</body>
</html>

