/*--------------------------------------------------------*\
	 GENERAL
\*--------------------------------------------------------*/

/**
 * Comment
 */

* {
	box-sizing: border-box;
}

.content {
	@include grid();

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.header {
	@include grid();

	background: #fff;
	padding: .2em .5rem;
	width: 100%;

		&__logo {
			height: 30px;
			vertical-align: middle;
			margin-top: .5rem;

			&--custom {
				height: 50px;
				margin-top: 0;
			}
		}
}

.image-wrap {
	margin: $xxlarge-space 0;
	padding: $medium-space;
}

table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}


pre {
	width: 100%;
	word-break: break-all;
	white-space: normal;
	background: $lightgray;
	border: 1px solid $mediumgray;
	padding: 2px;
}

.footer {
	@include grid();
	background: #000;
	color: #fff;
	padding: .5rem 0;
	font-size: .8em;
	text-align: center;

	img {
		vertical-align: middle;
	}
}

/* FORMULARIO */

.form-title {
	font-weight: 700;
	text-align: left;
}

.form-field {
	margin: $large-space 0;
}

/* shame stuff */
.formulario-B {
	text-align: center; // Mensaje de OK/KO js
}
