<div class="content">
<div class="content__inner">
	<div class="content__row">
		<div class="content__c-12">
			<ul class="feature-list">
				<li>feature-1</li>
				<li>feature-2</li>
				<li>feature-3</li>
				<li>feature-4</li>
				<li>feature-5</li>
				<li>feature-6</li>
				<li>feature-7</li>
				<li>feature-8</li>
				<li>feature-9</li>
				<li>feature-10</li>
			</ul>
		</div>
	</div>
</div>
</div>