{# Testimonial.njk #}
<div class="content testimonial">
	<div class="content__inner">
		<div class="content__row">
			<div class="content__c-2"><img src="{{url.base}}{{url.landing_name}}{{img.testimonial1}}" alt="{{testimonial_1}}"></div>
			<div class="content__c-7">
			<blockquote>{{testimonial_2}}</blockquote>
			<span class="title">{{testimonial_1}}</span>
			</div>
			<div class="content__c-3">
				<div class="testimonial__cta h--tc">
					{{testimonial_3}} <br>
					{{testimonial_4}}
					<a class="boton boton--blue boton--uppercase boton--fw" href="#">{{testimonial_5}}</a>
				</div>
			</div>
		</div>
	</div>
</div>