@charset "UTF-8";
/*--------------------------------------------------------*     VARIABLES
\*--------------------------------------------------------*/
/**
 * Variables grid, mediaqueries, tipografía
 */
/*--------------------------------------------------------*     GRID (Variables)
\*--------------------------------------------------------*/
/**
 * Variables del grid
 */
/*--------------------------------------------------------*     VARIABLES
\*--------------------------------------------------------*/
/*--------------------------------------------------------*     MEDIA QUERIES
\*--------------------------------------------------------*/
/**
 * Minimos y máximos de las mediaqueries
 */
/*--------------------------------------------------------*     COLORS
\*--------------------------------------------------------*/
/*--------------------------------------------------------*     TYPOGRAPHY
\*--------------------------------------------------------*/
/**
 * Variables para /base/_typography.scss
 */
/*--------------------------------------------------------*     FUNCTIONS
\*--------------------------------------------------------*/
/**
 * Funciones
 */
/*--------------------------------------------------------*     MODULES
\*--------------------------------------------------------*/
/**
 * Mixins, Variables, Functions,...
 */
/*--------------------------------------------------------*     CLEARFIX
\*--------------------------------------------------------*/
/**
 * Para limpiar los floats.
 */
/*--------------------------------------------------------*     MIXIN ICONFONT
\*--------------------------------------------------------*/
/**
 * Para poder usar iconfont en los scss con cualquier elemento.
 */
/*--------------------------------------------------------*     MEDIA QUERIES MIXIN
\*--------------------------------------------------------*/
/**
 * MIxin para poder usar las mediaqueries de forma facil con un @include
 */
/*--------------------------------------------------------*     GRID
\*--------------------------------------------------------*/
/**
 * GRID
 */
/*--------------------------------------------------------*     BUTTONS
\*--------------------------------------------------------*/
/**
 * Mixin para generar botones.
 */
/*--------------------------------------------------------*     COMPONENTES
\*--------------------------------------------------------*/
/**
 * Forms, hero images, lists, headers
 */
/*--------------------------------------------------------*	 FORMS
\*--------------------------------------------------------*/
/**
 * Estilos para los formularios.
 */
/*doc
---
title: Forms
name: forms
category: Base
---


Select con estilo personalizado:

* Estilo por defecto
	+ Agrega border e icono de flecha alineado a la derecha

```html_example
<div class="custom-select">
	<select class="select select--fw">
		<option selected>Custom select</option>
	</select>
</div>
```
*/
.formulario-B,
.formulario {
  /* Aquí van estilos para el formulario y para la respuesta */ }

.form-title {
  text-transform: uppercase;
  font-weight: 300; }

.form-info {
  display: inline-block; }
  .form-info--bg {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 0.3125rem; }
  .form-info--mini {
    font-size: 0.75em;
    line-height: 1.41667;
    line-height: 1.6; }

.form-field {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  margin: 0.625rem 0;
  padding: 1.563rem 0.625rem 0.5rem;
  position: relative; }
  .form-field__label {
    color: #555;
    left: 0.625rem;
    margin: 0;
    position: absolute;
    top: 0.5rem;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1.57143; }
    .form-field__label--error {
      display: none;
      color: #d73c1e;
      text-transform: none; }
  .form-field__value {
    background: transparent;
    border: 0;
    color: #555;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: normal;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .form-field__value:focus, .form-field__value--completed {
      box-shadow: none;
      outline: 0; }
      .form-field__value:focus ~ .form-field__label, .form-field__value--completed ~ .form-field__label {
        transition: .2s ease;
        color: #ccc; }
    .form-field__value.error:focus ~ .form-field__label--error,
    .form-field__value.error:valid ~ .form-field__label--error {
      display: none; }
    .form-field__value.error ~ .form-field__label--error {
      display: block;
      right: 0.625rem;
      margin: 0;
      position: absolute;
      top: 0.5rem;
      text-align: right; }
      @media (max-width: 767px) {
        .form-field__value.error ~ .form-field__label--error {
          left: 0.625rem;
          top: 1.7193rem;
          right: inherit;
          text-align: left; } }
  .form-field--text {
    text-transform: uppercase; }
    .form-field--text .form-field__value {
      text-overflow: ellipsis; }
  .form-field--select {
    padding-bottom: 1.875rem; }
    .form-field--select:before {
      content: "";
      font-family: "iconfont";
      speak: none;
      font-style: normal;
      font-weight: normal;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #ccc;
      font-size: 1.5em;
      line-height: 1;
      margin-right: 0.3125rem;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -0.125em; }
    .form-field--select .form-field__value {
      left: 0;
      padding: 1.563rem 1.563rem 0.5rem 0.625rem;
      position: absolute;
      text-overflow: ellipsis;
      top: 0; }
  .form-field--simple-select {
    padding: 0.5rem 0.625rem 1.875rem 0.625rem; }
    .form-field--simple-select:before {
      content: "";
      font-family: "iconfont";
      speak: none;
      font-style: normal;
      font-weight: normal;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #ccc;
      font-size: 1.5em;
      line-height: 1;
      margin-right: 0.3125rem;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -.5em; }
    .form-field--simple-select .form-field__value {
      left: 0;
      padding: 0.5rem 0.625rem;
      position: absolute;
      text-overflow: ellipsis;
      top: 0; }
  .form-field--textarea .form-field__value {
    resize: none; }
  .form-field--checkbox, .form-field--radio {
    padding: 0.5rem 0.625rem;
    cursor: pointer; }
    .form-field--checkbox .form-field__label, .form-field--radio .form-field__label {
      position: static;
      display: block;
      padding-left: 1.25rem; }
    .form-field--checkbox .form-field__value, .form-field--radio .form-field__value {
      left: 0.625rem; }
      .form-field--checkbox .form-field__value:focus ~ .form-field__label, .form-field--checkbox .form-field__value--completed ~ .form-field__label, .form-field--radio .form-field__value:focus ~ .form-field__label, .form-field--radio .form-field__value--completed ~ .form-field__label {
        font-size: 1em;
        line-height: 1.5;
        transition: none;
        color: #555; }
  .form-field--simple-checkbox, .form-field--simple-radio {
    border: 0;
    padding: 0; }
    .form-field--simple-checkbox:first-child, .form-field--simple-radio:first-child {
      margin-top: 0; }
    .form-field--simple-checkbox:last-child, .form-field--simple-radio:last-child {
      margin-bottom: 0; }
    .form-field--simple-checkbox .form-field__label, .form-field--simple-radio .form-field__label {
      position: static;
      display: block;
      padding-left: 1.25rem; }
    .form-field--simple-checkbox .form-field__value:focus ~ .form-field__label, .form-field--simple-checkbox .form-field__value--completed ~ .form-field__label, .form-field--simple-radio .form-field__value:focus ~ .form-field__label, .form-field--simple-radio .form-field__value--completed ~ .form-field__label {
      font-size: 0.875em;
      line-height: 1.57143;
      transition: none;
      color: #555; }

.form-error {
  font-size: 0.75em;
  line-height: 1.41667;
  color: #d73c1e;
  display: block;
  position: relative;
  top: -0.5rem; }

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  left: 1px;
  top: 50%;
  margin-top: -0.3125rem; }
  input[type="checkbox"]:before,
  input[type="radio"]:before {
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: -1px;
    left: -1px; }
  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background: #1c7fc3;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    display: none; }
  input[type="checkbox"]:checked:after,
  input[type="radio"]:checked:after {
    display: block; }

input[type="radio"]:before, input[type="radio"]:after {
  border-radius: 100%; }

input[type="radio"]:after {
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px; }

textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #393939;
  padding: 0.625rem;
  margin: 0.625rem 0; }

input {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.5rem 0.625rem;
  text-overflow: ellipsis; }

select {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  margin: 0.625rem 0;
  padding: 0.5rem 0.625rem;
  position: relative; }

.custom-select {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  display: block;
  margin: 0.625rem 0;
  position: relative; }
  .custom-select:before {
    content: "";
    font-family: "iconfont";
    speak: none;
    font-style: normal;
    font-weight: normal;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
    font-size: 1.5em;
    line-height: 1;
    margin-right: 0.3125rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em; }
  .custom-select select,
  .custom-select .select {
    background: transparent;
    border: 0;
    color: #555;
    display: block;
    margin: 0;
    padding-right: 1.563rem;
    text-overflow: ellipsis;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }

.select {
  color: #555; }
  .select--fw {
    display: block;
    width: 100%; }

.label--button {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  padding: 0; }
  .label--button .label__input {
    flex-grow: 2;
    width: inherit;
    padding: 0 0 0 0.625rem; }
  .label--button .label__button {
    flex-grow: 1;
    border: 0;
    text-align: center;
    font-size: 1.625em;
    line-height: 1.30769; }
    .label--button .label__button [class*="icon-"] {
      vertical-align: middle; }
    .label--button .label__button.label__button--green {
      background: #690;
      color: #fff; }

.label--custom-input-file {
  display: inline-block; }
  .label--custom-input-file:hover {
    cursor: pointer; }

.label .custom-input-file {
  display: none; }

.label--secondary {
  color: #ccc; }

.error {
  color: #d73c1e;
  display: block;
  position: relative; }
  .error--fw {
    width: 100%; }
  .error--mw {
    display: inline-block;
    width: 49%; }

/*--------------------------------------------------------*	 HERO
\*--------------------------------------------------------*/
/**
 * Espacio tipo hero, con variantes
 */
.hero {
  align-items: stretch;
  background: url(../assets/img/hero_bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  min-height: 25em;
  padding: 2em;
  position: relative; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(129, 178, 212, 0) 50%, rgba(28, 127, 195, 0.5) 100%);
    opacity: .8; }
  .hero--nobg {
    background: none; }
    .hero--nobg:before {
      background: none;
      opacity: 0; }
  .hero--form {
    justify-content: space-between; }
    .hero--form form {
      width: 300px; }
  .hero .hero-content {
    text-align: center;
    color: #fff;
    flex-grow: 1; }
    .hero .hero-content h1 {
      font-weight: 300;
      line-height: 1.5;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 1px rgba(0, 0, 0, 0.4); }
    .hero .hero-content--bg {
      background: url("img/hero_bg.jpg");
      background-position: center;
      background-size: cover;
      border: 10px solid #fff; }
    .hero .hero-content--image-text {
      text-align: left;
      padding-left: 0.625rem;
      align-self: center; }
    .hero .hero-content--text {
      align-self: center;
      max-width: 1200px; }
    .hero .hero-content--image-form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-around; }
  .hero .hero-logo {
    margin: auto; }

/*--------------------------------------------------------*	 SUPER TITLE
\*--------------------------------------------------------*/
/**
 * Pedazo de titulo
 */
.super-title h1 {
  font-size: 62px;
  font-weight: 300;
  text-align: center;
  /* Opcionales */ }

/*--------------------------------------------------------*     FEATURE LIST
\*--------------------------------------------------------*/
/**
 * Lista de carácteriticas
 */
.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .feature-list li {
    border: 1px solid #ccc;
    padding: 0.9375rem;
    border-radius: 3px;
    margin-bottom: 1.25rem; }

/*--------------------------------------------------------*     TESTIMONIALES
\*--------------------------------------------------------*/
/**
 * Foto + nombre + cita
 */
.testimonial {
  margin-top: 3.126rem;
  margin-bottom: 3.126rem; }
  .testimonial [class$="row"] {
    display: flex;
    align-items: center; }
  .testimonial .title {
    font-style: italic; }
  .testimonial blockquote {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-style: italic; }
  .testimonial__cta .boton {
    margin-top: 0.625rem; }

/*--------------------------------------------------------*     BOTON
\*--------------------------------------------------------*/
/**
 * Estilos para los botones del MP
 */
.boton {
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  padding: .875em 1em;
  text-decoration: none;
  text-align: center;
  background: #1c7fc3;
  border-color: #16669c;
  color: #fff;
  transition-property: background, border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-out; }
  .boton:hover {
    background: #4999cf;
    border-color: #1c7fc3;
    color: #fff; }
  .boton:active {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--green {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #85ad33;
    border-color: #6a8a29;
    color: #fff;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .boton--green:hover {
      background: #9dbd5c;
      border-color: #85ad33;
      color: #fff; }
    .boton--green:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--orange {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #ffa033;
    border-color: #cc8029;
    color: #fff;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .boton--orange:hover {
      background: #ffb35c;
      border-color: #ffa033;
      color: #fff; }
    .boton--orange:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--red {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #d73c1e;
    border-color: #ac3018;
    color: #fff;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .boton--red:hover {
      background: #df634b;
      border-color: #d73c1e;
      color: #fff; }
    .boton--red:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--redwine {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #a50606;
    border-color: #840505;
    color: #fff;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .boton--redwine:hover {
      background: #b73838;
      border-color: #a50606;
      color: #fff; }
    .boton--redwine:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--gray {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #f5f5f5;
    border-color: #c4c4c4;
    color: #555;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background: #f5f5f5;
    border-color: #ccc;
    color: #555; }
    .boton--gray:hover {
      background: #f7f7f7;
      border-color: #f5f5f5;
      color: #555; }
    .boton--gray:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
    .boton--gray:hover {
      background: white;
      border-color: #ccc;
      color: #555; }
    .boton--gray:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--transparent {
    background: none;
    border: 1px solid transparent;
    color: #ccc; }
    .boton--transparent:hover {
      background: #fafafa;
      border: 1px solid transparent;
      color: #ccc;
      text-decoration: underline; }
    .boton--transparent:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--slim {
    padding: .375em .625em; }
  .boton--small {
    font-size: .875em;
    padding: .75em .875em; }
  .boton--xsmall {
    font-size: .875em;
    padding: .625em .75em; }
  .boton--xxsmall {
    font-size: .875em;
    padding: .375em .5em; }
  .boton--fw {
    width: 100%; }
  .boton--active {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--uppercase {
    text-transform: uppercase; }
  .boton--mb {
    margin-bottom: 20px; }
  .boton--submit {
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: .875em 1em;
    text-decoration: none;
    text-align: center;
    background: #85ad33;
    border-color: #6a8a29;
    color: #fff;
    transition-property: background, border-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .boton--submit:hover {
      background: #9dbd5c;
      border-color: #85ad33;
      color: #fff; }
    .boton--submit:active {
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25); }
  .boton--price-table {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.575em 1em; }
  .boton--price-table {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.575em 1em; }

/*--------------------------------------------------------*     SERVICES TABLE
\*--------------------------------------------------------*/
/**
 * Tabla comparativa de servicios
 */
.premium-table thead {
  font-size: 1.125em;
  line-height: 1.44444;
  font-weight: 300;
  text-transform: uppercase; }
  .premium-table thead td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    .premium-table thead td:first-child {
      border-bottom: 0;
      border-right: 0; }
    .premium-table thead td:last-child {
      border-left: 1px solid #ccc;
      border-right: 0; }

.premium-table td {
  padding: 0.625rem 0;
  border-right: 1px solid #ccc; }
  .premium-table td:first-child {
    border-bottom: 0;
    border-right: 0; }
  .premium-table td:last-child {
    border-left: 1px solid #ccc;
    border-right: 0; }
  .premium-table td + td {
    text-align: center;
    font-size: 0.875em;
    line-height: 1.57143; }
    .premium-table td + td [class$="-clear"] {
      font-size: 1.625em;
      line-height: 1.30769;
      vertical-align: middle;
      font-weight: 700;
      color: #d73c1e; }
    .premium-table td + td [class$="-check"] {
      font-size: 1.625em;
      line-height: 1.30769;
      vertical-align: middle;
      font-weight: 700;
      color: #690; }

.premium-table .premium-table__service {
  text-align: right;
  padding-right: 1.25rem; }

@media (max-width: 1019px) {
  .premium-table .premium-table__service {
    text-align: center;
    padding-right: 0;
    padding-left: 0; }
  .premium-table thead,
  .premium-table tbody,
  .premium-table th,
  .premium-table td,
  .premium-table tr {
    display: block; }
  .premium-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .premium-table tr {
    margin-bottom: 1.563rem; }
    .premium-table tr td:first-child {
      border-bottom: 1px solid #ccc; }
  .premium-table td {
    border: none;
    position: relative;
    padding-left: 50%; }
    .premium-table td + td {
      font-size: 1.125em;
      line-height: 1.44444; }
      .premium-table td + td [class$="-clear"] {
        font-size: 1.125em;
        line-height: 1.44444;
        vertical-align: middle;
        font-weight: 700;
        color: #d73c1e; }
      .premium-table td + td [class$="-check"] {
        font-size: 1.125em;
        line-height: 1.44444;
        vertical-align: middle;
        font-weight: 700;
        color: #690; }
    .premium-table td:last-child {
      border-left: 0; }
    .premium-table td:before {
      position: absolute;
      top: 0.625rem;
      left: 0.625rem;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-size: 0.875em;
      line-height: 1.57143; }
    .premium-table td:nth-of-type(1):before {
      content: ""; }
    .premium-table td:nth-of-type(2):before {
      content: "nuevas empresas y emprendedores";
      text-transform: uppercase; }
    .premium-table td:nth-of-type(3):before {
      content: "pymes y grandes empresas";
      text-transform: uppercase;
      font-weight: 700; }
    .premium-table td:nth-of-type(4):before {
      content: "empresas con un amplio catálogo";
      text-transform: uppercase; } }

.table-wrap {
  transition: all 0.5s ease-out;
  height: 500px;
  margin-bottom: 50px;
  overflow: hidden; }
  .table-wrap--hide {
    height: 500px; }
  .table-wrap--show {
    height: 900px; }

/*--------------------------------------------------------*     BASE
\*--------------------------------------------------------*/
/**
 * Estilos base
 */
/*--------------------------------------------------------*     COLORS
\*--------------------------------------------------------*/
.-tc-blue {
  color: #1c7fc3; }

.-tc-darkgray {
  color: #393939; }

.-tc-mediumgray {
  color: #ccc; }

.-tc-lightgray {
  color: #f5f5f5; }

.tc-redwine {
  color: #a50606; }

.tc-red {
  color: #d73c1e; }

.tc-green {
  color: #690; }

.tc-orange {
  color: #f80; }

.tc-black {
  color: #222; }

.tc-lightgrayblue {
  color: #f8f8fb; }

.tc-darkblue {
  color: #16669c; }

.tc-mediumblue {
  color: #4999cf; }

.tc-lightblue {
  color: #77b2db; }

.tc-darkorange {
  color: #cc6d00; }

.tc-mediumorange {
  color: #ffa033; }

.tc-lightorange {
  color: #ffb866; }

.tc-darkred {
  color: #ac3018; }

.tc-mediumred {
  color: #df634b; }

.tc-lightred {
  color: #e78a78; }

.tc-darkgreen {
  color: #527a00; }

.tc-mediumgreen {
  color: #85ad33; }

.tc-lightgreen {
  color: #a3c266; }

.--bgcw {
  background-color: #fff; }

/*doc
---
title: Colores
name: colores
category: Base
---

Paleta de colores usados en la app.

## Primarios
Colores primarios.

* $blue: #1c7fc3;
* $darkgray: #393939;
* $mediumgray: #ccc;
* $lightgray: #f5f5f5;

<div class="color-box blue">#1c7fc3</div>
<div class="color-box darkgray">#393939</div>
<div class="color-box mediumgray">#cccccc</div>
<div class="color-box lightgray">#f5f5f5</div>

## Secundarios
Colores secundarios.
<div class="row">
	<div class="color-box orange">ORANGE</br>#ff8800</div>
	<div class="color-box red">RED</br>#f44336</div>
	<div class="color-box redwine">RED WINE</br>#a50606</div>
	<div class="color-box green">GREEN</br>#669900</div>
</div>
<div class="row">
	<div class="color-box black">BLACK</br>#222222</div>
</div>

## Azules
<div class="row">
	<div class="color-box darkblue">DARK BLUE</br>#16659c</div>
	<div class="color-box blue">BLUE</br>#1c7fc3</div>
	<div class="color-box mediumblue">MEDIUM BLUE</br>#4998cf</div>
	<div class="color-box lightblue">LIGHT BLUE</br>#76b2db</div>
</div>

## Verdes
<div class="row">
	<div class="color-box darkgreen">DARK GREEN</br>#517a00</div>
	<div class="color-box green">GREEN</br>#669900</div>
	<div class="color-box mediumgreen">MEDIUM GREEN</br>#84ad33</div>
	<div class="color-box lightgreen">LIGHT GREEN</br>#a3c166</div>
</div>

## Naranjas
<div class="row">
	<div class="color-box darkorange">DARK ORANGE</br>#cc6c00</div>
	<div class="color-box orange">ORENGE</br>#ff8800</div>
	<div class="color-box mediumorange">MEDIUM ORANGE</br>#ff9f33</div>
	<div class="color-box lightorange">LIGHT ORANGE</br>#ffb766</div>
</div>

## Rojos
<div class="row">
	<div class="color-box darkred">DARK RED</br>#c3352b</div>
	<div class="color-box red">RED</br>#f44336</div>
	<div class="color-box mediumred">MEDIUM RED</br>#f6685e</div>
	<div class="color-box lightred">LIGHT RED</br>#f88e86</div>
</div>



*/
/*--------------------------------------------------------*	  HELPERS
\*--------------------------------------------------------*/
.h--cl {
  *zoom: 1; }

.h--cl:before,
.h--cl:after {
  display: table;
  content: ""; }

.h--cl:after {
  clear: both; }

.h--cb {
  clear: both; }

.h--fl {
  float: left; }

.h--fr {
  float: right; }

.h--db {
  display: block; }

.h--dn {
  display: none; }

.h--dib {
  display: inline-block; }

.h--mz {
  margin: 0; }

.h--mza {
  float: none;
  margin: 0 auto; }

.h--tc {
  text-align: center; }

.h--tu {
  text-transform: uppercase; }

.h--fwb {
  font-weight: 700; }

.h--fwl {
  font-weight: 300; }

.h--lk {
  color: #1c7fc3;
  text-decoration: underline; }
  .h--lk:hover {
    color: #4999cf;
    cursor: pointer; }

.h--cbl {
  color: #1c7fc3; }

.h--cdg {
  color: #393939; }

.h--cmg {
  color: #ccc; }

.h--clg {
  color: #f5f5f5; }

.h--crw {
  color: #a50606; }

.h--cr {
  color: #d73c1e; }

.h--cg {
  color: #690; }

.h--co {
  color: #f80; }

.h--ck {
  color: #222; }

.h--cdb {
  color: #16669c; }

.h--cmb {
  color: #4999cf; }

.h--clb {
  color: #77b2db; }

.h--cdo {
  color: #cc6d00; }

.h--cmo {
  color: #ffa033; }

.h--clo {
  color: #ffb866; }

.h--cdr {
  color: #ac3018; }

.h--cmr {
  color: #df634b; }

.h--clr {
  color: #e78a78; }

.h--cdgr {
  color: #527a00; }

.h--cmgr {
  color: #85ad33; }

.h--clgr {
  color: #a3c266; }

/*--------------------------------------------------------*     ICONFONT
\*--------------------------------------------------------*/
@font-face {
  font-family: 'iconfont';
  src: url("../assets/fonts/iconfont.eot");
  src: url("../assets/fonts/iconfont.eot") format("embedded-opentype"), url("../assets/fonts/iconfont.ttf") format("truetype"), url("../assets/fonts/iconfont.woff") format("woff"), url("../assets/fonts/iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alimentacion:before {
  content: ""; }

.icon-belleza:before {
  content: ""; }

.icon-bolsos:before {
  content: ""; }

.icon-componentes:before {
  content: ""; }

.icon-deportes:before {
  content: ""; }

.icon-electronica:before {
  content: ""; }

.icon-herramientas:before {
  content: ""; }

.icon-hogar:before {
  content: ""; }

.icon-motor:before {
  content: ""; }

.icon-oficina:before {
  content: ""; }

.icon-quimica:before {
  content: ""; }

.icon-ropa:before {
  content: ""; }

.icon-mode_edit:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-add_a_photo:before {
  content: ""; }

.icon-vpn_key:before {
  content: ""; }

.icon-remove_red_eye:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-uniE61E:before {
  content: ""; }

.icon-uniE61F:before {
  content: ""; }

.icon-uniE629:before {
  content: ""; }

.icon-error:before {
  content: ""; }

.icon-call:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-location_on:before {
  content: ""; }

.icon-chat_bubble:before {
  content: ""; }

.icon-chat_bubble_outline:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-archive:before {
  content: ""; }

.icon-clear:before {
  content: ""; }

.icon-drafts:before {
  content: ""; }

.icon-remove:before {
  content: ""; }

.icon-reply:before {
  content: ""; }

.icon-reply_all:before {
  content: ""; }

.icon-gps_fixed:before {
  content: ""; }

.icon-gps_not_fixed:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-keyboard_arrow_down:before {
  content: ""; }

.icon-keyboard_arrow_left:before {
  content: ""; }

.icon-keyboard_arrow_right:before {
  content: ""; }

.icon-keyboard_arrow_up:before {
  content: ""; }

.icon-camera_alt:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-arrow_drop_down:before {
  content: ""; }

.icon-arrow_drop_up:before {
  content: ""; }

.icon-cancel:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-keyboard_control:before {
  content: ""; }

.icon-more_vert:before {
  content: ""; }

.icon-unfold_less:before {
  content: ""; }

.icon-unfold_more:before {
  content: ""; }

.icon-person:before {
  content: ""; }

.icon-check_box:before {
  content: ""; }

.icon-check_box_outline_blank:before {
  content: ""; }

.icon-radio_button_unchecked:before {
  content: ""; }

.icon-radio_button_checked:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-star_half:before {
  content: ""; }

.icon-star_outline:before {
  content: ""; }

.icon-account_box:before {
  content: ""; }

.icon-bookmark:before {
  content: ""; }

.icon-bookmark_outline:before {
  content: ""; }

.icon-check_circle:before {
  content: ""; }

.icon-favorite:before {
  content: ""; }

.icon-favorite_outline:before {
  content: ""; }

.icon-get_app:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-lock:before {
  content: ""; }

.icon-report_problem:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-shopping_cart:before {
  content: ""; }

.icon-verified_user:before {
  content: ""; }

.icon-visibility:before {
  content: ""; }

.icon-visibility_off:before {
  content: ""; }

.icon-camera_enhance:before {
  content: ""; }

.icon-descargar:before {
  content: ""; }

.icon-medalla-premium:before {
  content: ""; }

.icon-pago-seguro:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-google-plus:before {
  content: ""; }

/*--------------------------------------------------------*      TYPOGRAPHY
\*--------------------------------------------------------*/
/**
* Configuración tipografía
**/
/*------------------------------------*		GENERALS
\*------------------------------------*/
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif, 宋体, SimSun, 华文细黑, STXihei;
  font-size: 1em;
  line-height: 1.571429;
  color: #222; }

h1.xxsmall,
h2.xxsmall,
h3.xxsmall,
h4.xxsmall,
h5.xxsmall,
h6.xxsmall,
span.xxsmall,
strong.xxsmall,
p.xxsmall,
label.xxsmall,
input.xxsmall,
i.xxsmall,
ul.xxsmall,
li.xxsmall,
textarea.xxsmall {
  font-size: 0.6875em;
  line-height: 1.45454; }

h1.xsmall,
h2.xsmall,
h3.xsmall,
h4.xsmall,
h5.xsmall,
h6.xsmall,
span.xsmall,
strong.xsmall,
p.xsmall,
label.xsmall,
input.xsmall,
i.xsmall,
ul.xsmall,
li.xsmall,
textarea.xsmall {
  font-size: 0.75em;
  line-height: 1.41667; }

h1.small,
h2.small,
h3.small,
h4.small,
h5.small,
h6.small,
span.small,
strong.small,
p.small,
label.small,
input.small,
i.small,
ul.small,
li.small,
textarea.small {
  font-size: 0.875em;
  line-height: 1.57143; }

h1.medium,
h2.medium,
h3.medium,
h4.medium,
h5.medium,
h6.medium,
span.medium,
strong.medium,
p.medium,
label.medium,
input.medium,
i.medium,
ul.medium,
li.medium,
textarea.medium {
  font-size: 1em;
  line-height: 1.5; }

h1.large,
h2.large,
h3.large,
h4.large,
h5.large,
h6.large,
span.large,
strong.large,
p.large,
label.large,
input.large,
i.large,
ul.large,
li.large,
textarea.large {
  font-size: 1.125em;
  line-height: 1.44444; }

h1.xlarge,
h2.xlarge,
h3.xlarge,
h4.xlarge,
h5.xlarge,
h6.xlarge,
span.xlarge,
strong.xlarge,
p.xlarge,
label.xlarge,
input.xlarge,
i.xlarge,
ul.xlarge,
li.xlarge,
textarea.xlarge {
  font-size: 1.5em;
  line-height: 1.33333; }

h1.xxlarge,
h2.xxlarge,
h3.xxlarge,
h4.xxlarge,
h5.xxlarge,
h6.xxlarge,
span.xxlarge,
strong.xxlarge,
p.xxlarge,
label.xxlarge,
input.xxlarge,
i.xxlarge,
ul.xxlarge,
li.xxlarge,
textarea.xxlarge {
  font-size: 1.625em;
  line-height: 1.30769; }

h1 {
  font-size: 1.625em;
  line-height: 1.30769; }

h2 {
  font-size: 1.625em;
  line-height: 1.30769; }

h3 {
  font-size: 1.125em;
  line-height: 1.44444; }

h4 {
  font-size: 1em;
  line-height: 1.5; }

h5 {
  font-size: 0.875em;
  line-height: 1.57143; }

h6 {
  font-size: 0.75em;
  line-height: 1.41667; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

[class^="title"] {
  display: inline-block;
  margin: 1.25rem 0;
  width: 100%; }
  [class^="title"].--up {
    text-transform: uppercase; }
  [class^="title"].--bd {
    border-bottom: 1px solid #ccc; }
  [class^="title"].--sub {
    font-size: 1em;
    line-height: 1.5; }
  [class^="title"].--light {
    font-weight: 300; }
  [class^="title"] + ul {
    margin-top: 0; }
  [class^="title"]:first-child {
    margin-top: 0; }

a,
a:hover,
a:active {
  color: #1c7fc3;
  text-decoration: none; }

p {
  margin: 0; }

p + p {
  margin-top: 0.9375rem; }

strong {
  font-weight: 700; }

/*--------------------------------------------------------*	 GENERAL
\*--------------------------------------------------------*/
/**
 * Comment
 */
* {
  box-sizing: border-box; }

.content {
  clear: both;
  background: #fff;
  font-size: 16px;
  margin: 1.25rem auto;
  position: relative; }
  .content:before, .content:after {
    display: table;
    content: ""; }
  .content:after {
    clear: both; }
  .content--strech {
    margin-top: 0;
    margin-bottom: 0; }
  .content__inner {
    margin: 0 auto;
    max-width: 1220px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .content__inner--full {
      max-width: 100%;
      padding: 0; }
  .content__row {
    clear: both; }
    .content__row:before, .content__row:after {
      display: table;
      content: ""; }
    .content__row:after {
      clear: both; }
  .content__column {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    float: left; }
  .content__c-1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 8.33333%; }
    .content__c-1:blank {
      content: "&nbsp;"; }
    .content__c-1:first-child {
      padding-left: 0; }
    .content__c-1:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-1 {
        width: 100%; }
        .content__c-1:first-child {
          padding-right: 0; }
        .content__c-1:last-child {
          padding-left: 0; } }
  .content__c-2 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 16.66667%; }
    .content__c-2:blank {
      content: "&nbsp;"; }
    .content__c-2:first-child {
      padding-left: 0; }
    .content__c-2:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-2 {
        width: 100%; }
        .content__c-2:first-child {
          padding-right: 0; }
        .content__c-2:last-child {
          padding-left: 0; } }
  .content__c-3 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%; }
    .content__c-3:blank {
      content: "&nbsp;"; }
    .content__c-3:first-child {
      padding-left: 0; }
    .content__c-3:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-3 {
        width: 100%; }
        .content__c-3:first-child {
          padding-right: 0; }
        .content__c-3:last-child {
          padding-left: 0; } }
  .content__c-4 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 33.33333%; }
    .content__c-4:blank {
      content: "&nbsp;"; }
    .content__c-4:first-child {
      padding-left: 0; }
    .content__c-4:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-4 {
        width: 100%; }
        .content__c-4:first-child {
          padding-right: 0; }
        .content__c-4:last-child {
          padding-left: 0; } }
  .content__c-5 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 41.66667%; }
    .content__c-5:blank {
      content: "&nbsp;"; }
    .content__c-5:first-child {
      padding-left: 0; }
    .content__c-5:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-5 {
        width: 100%; }
        .content__c-5:first-child {
          padding-right: 0; }
        .content__c-5:last-child {
          padding-left: 0; } }
  .content__c-6 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%; }
    .content__c-6:blank {
      content: "&nbsp;"; }
    .content__c-6:first-child {
      padding-left: 0; }
    .content__c-6:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-6 {
        width: 100%; }
        .content__c-6:first-child {
          padding-right: 0; }
        .content__c-6:last-child {
          padding-left: 0; } }
  .content__c-7 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 58.33333%; }
    .content__c-7:blank {
      content: "&nbsp;"; }
    .content__c-7:first-child {
      padding-left: 0; }
    .content__c-7:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-7 {
        width: 100%; }
        .content__c-7:first-child {
          padding-right: 0; }
        .content__c-7:last-child {
          padding-left: 0; } }
  .content__c-8 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 66.66667%; }
    .content__c-8:blank {
      content: "&nbsp;"; }
    .content__c-8:first-child {
      padding-left: 0; }
    .content__c-8:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-8 {
        width: 100%; }
        .content__c-8:first-child {
          padding-right: 0; }
        .content__c-8:last-child {
          padding-left: 0; } }
  .content__c-9 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 75%; }
    .content__c-9:blank {
      content: "&nbsp;"; }
    .content__c-9:first-child {
      padding-left: 0; }
    .content__c-9:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-9 {
        width: 100%; }
        .content__c-9:first-child {
          padding-right: 0; }
        .content__c-9:last-child {
          padding-left: 0; } }
  .content__c-10 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 83.33333%; }
    .content__c-10:blank {
      content: "&nbsp;"; }
    .content__c-10:first-child {
      padding-left: 0; }
    .content__c-10:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-10 {
        width: 100%; }
        .content__c-10:first-child {
          padding-right: 0; }
        .content__c-10:last-child {
          padding-left: 0; } }
  .content__c-11 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 91.66667%; }
    .content__c-11:blank {
      content: "&nbsp;"; }
    .content__c-11:first-child {
      padding-left: 0; }
    .content__c-11:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-11 {
        width: 100%; }
        .content__c-11:first-child {
          padding-right: 0; }
        .content__c-11:last-child {
          padding-left: 0; } }
  .content__c-12 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .content__c-12:blank {
      content: "&nbsp;"; }
    .content__c-12:first-child {
      padding-left: 0; }
    .content__c-12:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .content__c-12 {
        width: 100%; }
        .content__c-12:first-child {
          padding-right: 0; }
        .content__c-12:last-child {
          padding-left: 0; } }
  .content:first-child {
    margin-top: 0; }
  .content:last-child {
    margin-bottom: 0; }

.header {
  clear: both;
  background: #fff;
  font-size: 16px;
  margin: 1.25rem auto;
  position: relative;
  background: #fff;
  padding: .2em .5rem;
  width: 100%; }
  .header:before, .header:after {
    display: table;
    content: ""; }
  .header:after {
    clear: both; }
  .header--strech {
    margin-top: 0;
    margin-bottom: 0; }
  .header__inner {
    margin: 0 auto;
    max-width: 1220px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .header__inner--full {
      max-width: 100%;
      padding: 0; }
  .header__row {
    clear: both; }
    .header__row:before, .header__row:after {
      display: table;
      content: ""; }
    .header__row:after {
      clear: both; }
  .header__column {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    float: left; }
  .header__c-1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 8.33333%; }
    .header__c-1:blank {
      content: "&nbsp;"; }
    .header__c-1:first-child {
      padding-left: 0; }
    .header__c-1:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-1 {
        width: 100%; }
        .header__c-1:first-child {
          padding-right: 0; }
        .header__c-1:last-child {
          padding-left: 0; } }
  .header__c-2 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 16.66667%; }
    .header__c-2:blank {
      content: "&nbsp;"; }
    .header__c-2:first-child {
      padding-left: 0; }
    .header__c-2:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-2 {
        width: 100%; }
        .header__c-2:first-child {
          padding-right: 0; }
        .header__c-2:last-child {
          padding-left: 0; } }
  .header__c-3 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%; }
    .header__c-3:blank {
      content: "&nbsp;"; }
    .header__c-3:first-child {
      padding-left: 0; }
    .header__c-3:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-3 {
        width: 100%; }
        .header__c-3:first-child {
          padding-right: 0; }
        .header__c-3:last-child {
          padding-left: 0; } }
  .header__c-4 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 33.33333%; }
    .header__c-4:blank {
      content: "&nbsp;"; }
    .header__c-4:first-child {
      padding-left: 0; }
    .header__c-4:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-4 {
        width: 100%; }
        .header__c-4:first-child {
          padding-right: 0; }
        .header__c-4:last-child {
          padding-left: 0; } }
  .header__c-5 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 41.66667%; }
    .header__c-5:blank {
      content: "&nbsp;"; }
    .header__c-5:first-child {
      padding-left: 0; }
    .header__c-5:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-5 {
        width: 100%; }
        .header__c-5:first-child {
          padding-right: 0; }
        .header__c-5:last-child {
          padding-left: 0; } }
  .header__c-6 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%; }
    .header__c-6:blank {
      content: "&nbsp;"; }
    .header__c-6:first-child {
      padding-left: 0; }
    .header__c-6:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-6 {
        width: 100%; }
        .header__c-6:first-child {
          padding-right: 0; }
        .header__c-6:last-child {
          padding-left: 0; } }
  .header__c-7 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 58.33333%; }
    .header__c-7:blank {
      content: "&nbsp;"; }
    .header__c-7:first-child {
      padding-left: 0; }
    .header__c-7:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-7 {
        width: 100%; }
        .header__c-7:first-child {
          padding-right: 0; }
        .header__c-7:last-child {
          padding-left: 0; } }
  .header__c-8 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 66.66667%; }
    .header__c-8:blank {
      content: "&nbsp;"; }
    .header__c-8:first-child {
      padding-left: 0; }
    .header__c-8:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-8 {
        width: 100%; }
        .header__c-8:first-child {
          padding-right: 0; }
        .header__c-8:last-child {
          padding-left: 0; } }
  .header__c-9 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 75%; }
    .header__c-9:blank {
      content: "&nbsp;"; }
    .header__c-9:first-child {
      padding-left: 0; }
    .header__c-9:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-9 {
        width: 100%; }
        .header__c-9:first-child {
          padding-right: 0; }
        .header__c-9:last-child {
          padding-left: 0; } }
  .header__c-10 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 83.33333%; }
    .header__c-10:blank {
      content: "&nbsp;"; }
    .header__c-10:first-child {
      padding-left: 0; }
    .header__c-10:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-10 {
        width: 100%; }
        .header__c-10:first-child {
          padding-right: 0; }
        .header__c-10:last-child {
          padding-left: 0; } }
  .header__c-11 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 91.66667%; }
    .header__c-11:blank {
      content: "&nbsp;"; }
    .header__c-11:first-child {
      padding-left: 0; }
    .header__c-11:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-11 {
        width: 100%; }
        .header__c-11:first-child {
          padding-right: 0; }
        .header__c-11:last-child {
          padding-left: 0; } }
  .header__c-12 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .header__c-12:blank {
      content: "&nbsp;"; }
    .header__c-12:first-child {
      padding-left: 0; }
    .header__c-12:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .header__c-12 {
        width: 100%; }
        .header__c-12:first-child {
          padding-right: 0; }
        .header__c-12:last-child {
          padding-left: 0; } }
  .header__logo {
    height: 30px;
    vertical-align: middle;
    margin-top: .5rem; }
    .header__logo--custom {
      height: 50px;
      margin-top: 0; }

.image-wrap {
  margin: 1.563rem 0;
  padding: 0.625rem; }

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%; }

/* Hero */
.hero {
  min-height: 10em; }
  .hero:before {
    background: none; }
  @media (max-width: 767px) {
    .hero {
      display: none; } }

body {
  background: #fff; }

pre {
  width: 100%;
  word-break: break-all;
  white-space: normal;
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 2px; }

.footer {
  clear: both;
  background: #fff;
  font-size: 16px;
  margin: 1.25rem auto;
  position: relative;
  background: #000;
  color: #fff;
  padding: .5rem 0;
  font-size: .8em;
  text-align: center; }
  .footer:before, .footer:after {
    display: table;
    content: ""; }
  .footer:after {
    clear: both; }
  .footer--strech {
    margin-top: 0;
    margin-bottom: 0; }
  .footer__inner {
    margin: 0 auto;
    max-width: 1220px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .footer__inner--full {
      max-width: 100%;
      padding: 0; }
  .footer__row {
    clear: both; }
    .footer__row:before, .footer__row:after {
      display: table;
      content: ""; }
    .footer__row:after {
      clear: both; }
  .footer__column {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    float: left; }
  .footer__c-1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 8.33333%; }
    .footer__c-1:blank {
      content: "&nbsp;"; }
    .footer__c-1:first-child {
      padding-left: 0; }
    .footer__c-1:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-1 {
        width: 100%; }
        .footer__c-1:first-child {
          padding-right: 0; }
        .footer__c-1:last-child {
          padding-left: 0; } }
  .footer__c-2 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 16.66667%; }
    .footer__c-2:blank {
      content: "&nbsp;"; }
    .footer__c-2:first-child {
      padding-left: 0; }
    .footer__c-2:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-2 {
        width: 100%; }
        .footer__c-2:first-child {
          padding-right: 0; }
        .footer__c-2:last-child {
          padding-left: 0; } }
  .footer__c-3 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%; }
    .footer__c-3:blank {
      content: "&nbsp;"; }
    .footer__c-3:first-child {
      padding-left: 0; }
    .footer__c-3:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-3 {
        width: 100%; }
        .footer__c-3:first-child {
          padding-right: 0; }
        .footer__c-3:last-child {
          padding-left: 0; } }
  .footer__c-4 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 33.33333%; }
    .footer__c-4:blank {
      content: "&nbsp;"; }
    .footer__c-4:first-child {
      padding-left: 0; }
    .footer__c-4:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-4 {
        width: 100%; }
        .footer__c-4:first-child {
          padding-right: 0; }
        .footer__c-4:last-child {
          padding-left: 0; } }
  .footer__c-5 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 41.66667%; }
    .footer__c-5:blank {
      content: "&nbsp;"; }
    .footer__c-5:first-child {
      padding-left: 0; }
    .footer__c-5:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-5 {
        width: 100%; }
        .footer__c-5:first-child {
          padding-right: 0; }
        .footer__c-5:last-child {
          padding-left: 0; } }
  .footer__c-6 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%; }
    .footer__c-6:blank {
      content: "&nbsp;"; }
    .footer__c-6:first-child {
      padding-left: 0; }
    .footer__c-6:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-6 {
        width: 100%; }
        .footer__c-6:first-child {
          padding-right: 0; }
        .footer__c-6:last-child {
          padding-left: 0; } }
  .footer__c-7 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 58.33333%; }
    .footer__c-7:blank {
      content: "&nbsp;"; }
    .footer__c-7:first-child {
      padding-left: 0; }
    .footer__c-7:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-7 {
        width: 100%; }
        .footer__c-7:first-child {
          padding-right: 0; }
        .footer__c-7:last-child {
          padding-left: 0; } }
  .footer__c-8 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 66.66667%; }
    .footer__c-8:blank {
      content: "&nbsp;"; }
    .footer__c-8:first-child {
      padding-left: 0; }
    .footer__c-8:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-8 {
        width: 100%; }
        .footer__c-8:first-child {
          padding-right: 0; }
        .footer__c-8:last-child {
          padding-left: 0; } }
  .footer__c-9 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 75%; }
    .footer__c-9:blank {
      content: "&nbsp;"; }
    .footer__c-9:first-child {
      padding-left: 0; }
    .footer__c-9:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-9 {
        width: 100%; }
        .footer__c-9:first-child {
          padding-right: 0; }
        .footer__c-9:last-child {
          padding-left: 0; } }
  .footer__c-10 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 83.33333%; }
    .footer__c-10:blank {
      content: "&nbsp;"; }
    .footer__c-10:first-child {
      padding-left: 0; }
    .footer__c-10:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-10 {
        width: 100%; }
        .footer__c-10:first-child {
          padding-right: 0; }
        .footer__c-10:last-child {
          padding-left: 0; } }
  .footer__c-11 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 91.66667%; }
    .footer__c-11:blank {
      content: "&nbsp;"; }
    .footer__c-11:first-child {
      padding-left: 0; }
    .footer__c-11:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-11 {
        width: 100%; }
        .footer__c-11:first-child {
          padding-right: 0; }
        .footer__c-11:last-child {
          padding-left: 0; } }
  .footer__c-12 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
    .footer__c-12:blank {
      content: "&nbsp;"; }
    .footer__c-12:first-child {
      padding-left: 0; }
    .footer__c-12:last-child {
      padding-right: 0; }
    @media (max-width: 767px) {
      .footer__c-12 {
        width: 100%; }
        .footer__c-12:first-child {
          padding-right: 0; }
        .footer__c-12:last-child {
          padding-left: 0; } }
  .footer img {
    vertical-align: middle; }

/* FORMULARIO */
.form-title {
  font-weight: 700;
  text-align: left; }

.form-field {
  margin: 0.9375rem 0; }

/* shame stuff */
.formulario-B {
  text-align: center; }

/*--------------------------------------------------------*     CUSTOM.SCSS
\*--------------------------------------------------------*/
/**
 * Estilos personalizados para esta landing
 y no mezclarlos con los generales del framework (general.scss,...)
 que se puedan ir actualizando
 */
/*--------------------------------------------------------*     TEST
\*--------------------------------------------------------*/
/**
 * Herramientas de testo
 */
