$icomoon-font-path: $icomoon-font-path !default;

$icon-alimentacion: "\e901";
$icon-belleza: "\e902";
$icon-bolsos: "\e903";
$icon-componentes: "\e904";
$icon-deportes: "\e905";
$icon-electronica: "\e906";
$icon-herramientas: "\e907";
$icon-hogar: "\e908";
$icon-motor: "\e909";
$icon-oficina: "\e90a";
$icon-quimica: "\e90b";
$icon-ropa: "\e90c";
$icon-mode_edit: "\e254";
$icon-share: "\e80d";
$icon-add_a_photo: "\e439";
$icon-vpn_key: "\e0da";
$icon-remove_red_eye: "\e1a8";
$icon-info: "\e2a2";
$icon-uniE61E: "\e61e";
$icon-uniE61F: "\e61f";
$icon-uniE629: "\e629";
$icon-error: "\e000";
$icon-call: "\e03f";
$icon-email: "\e04c";
$icon-location_on: "\e052";
$icon-chat_bubble: "\e054";
$icon-chat_bubble_outline: "\e055";
$icon-add: "\e069";
$icon-archive: "\e06d";
$icon-clear: "\e070";
$icon-drafts: "\e075";
$icon-remove: "\e07f";
$icon-reply: "\e082";
$icon-reply_all: "\e083";
$icon-gps_fixed: "\e0a3";
$icon-gps_not_fixed: "\e0a4";
$icon-folder: "\e101";
$icon-keyboard_arrow_down: "\e10f";
$icon-keyboard_arrow_left: "\e110";
$icon-keyboard_arrow_right: "\e111";
$icon-keyboard_arrow_up: "\e112";
$icon-camera_alt: "\e145";
$icon-image: "\e186";
$icon-arrow_drop_down: "\e201";
$icon-arrow_drop_up: "\e203";
$icon-cancel: "\e205";
$icon-check: "\e206";
$icon-menu: "\e20e";
$icon-keyboard_control: "\e20f";
$icon-more_vert: "\e210";
$icon-unfold_less: "\e212";
$icon-unfold_more: "\e213";
$icon-person: "\e253";
$icon-check_box: "\e25c";
$icon-check_box_outline_blank: "\e25d";
$icon-radio_button_unchecked: "\e25e";
$icon-radio_button_checked: "\e25f";
$icon-star: "\e260";
$icon-star_half: "\e261";
$icon-star_outline: "\e262";
$icon-account_box: "\e267";
$icon-bookmark: "\e27b";
$icon-bookmark_outline: "\e27c";
$icon-check_circle: "\e281";
$icon-favorite: "\e291";
$icon-favorite_outline: "\e292";
$icon-get_app: "\e298";
$icon-help: "\e29b";
$icon-lock: "\e2ab";
$icon-report_problem: "\e2c6";
$icon-search: "\e2ca";
$icon-shopping_cart: "\e2df";
$icon-verified_user: "\e2fa";
$icon-visibility: "\e306";
$icon-visibility_off: "\e307";
$icon-camera_enhance: "\e30e";
$icon-descargar: "\e801";
$icon-medalla-premium: "\e802";
$icon-pago-seguro: "\e803";
$icon-facebook: "\e800";
$icon-linkedin: "\e600";
$icon-twitter: "\e601";
$icon-google-plus: "\e603";

