/*--------------------------------------------------------*\
     VARIABLES
\*--------------------------------------------------------*/





/*--------------------------------------------------------*\
     MEDIA QUERIES
\*--------------------------------------------------------*/

/**
 * Minimos y máximos de las mediaqueries
 */

// w1
$rwd-size1-max: 539px;

// w2
$rwd-size2-min: 540px;
$rwd-size2-max: 767px;

// w3
$rwd-size3-min: 768px;
$rwd-size3-max: 1019px;

// w4
$rwd-size4-min: 1020px;
$rwd-size4-max: 1189px;

// w5
$rwd-size5-min: 1190px;
$rwd-size5-max: 1359px;

// w6
$rwd-size6-min: 1360px;