/*--------------------------------------------------------*\
     FEATURE LIST
\*--------------------------------------------------------*/

/**
 * Lista de carácteriticas
 */

.feature-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		border: 1px solid $mediumgray;
		padding: $large-space;
		border-radius: 3px;
		margin-bottom: $xlarge-space;

	}
}