/*--------------------------------------------------------*\
	 HERO
\*--------------------------------------------------------*/

/**
 * Espacio tipo hero, con variantes
 */




.hero {
	align-items: stretch;
	background: url(#{$url}#{$img-test});
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	min-height: 25em;
	padding: 2em;
	position: relative;

	&:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(129,178,212,0) 50%,rgba(28,127,195,0.5) 100%);
		opacity: .8;
  	}

  	&--nobg {
  		background: none;

  		&:before {
  			background: none;
  			opacity: 0;
  		}
  	}

  	&--form {

  		justify-content: space-between;

  		form {
  			width: 300px;
  		}
  	}

	.hero-content {
		text-align: center;
		color: #fff;
		// width: 50%;
		flex-grow: 1;

		h1 {
			font-weight: 300;
			line-height: 1.5;
			text-shadow: 0 2px 5px rgba(0,0,0,0.6), 0 1px 1px rgba(0,0,0,0.4);
		}

		// MODIFICADORES

		&--bg {
			background: url($img-test);
			background-position: center;
			background-size: cover;
			border: 10px solid #fff;
		}

		&--image-text {
			text-align: left;
			padding-left: $medium-space;
			align-self: center;
		}

		&--text {
			align-self: center;
			max-width: 1200px;
		}

		&--image-form {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}

	.hero-logo {
		margin: auto;
	}
}