/*--------------------------------------------------------*\
	 SUPER TITLE
\*--------------------------------------------------------*/

/**
 * Pedazo de titulo
 */




.super-title {
	h1 {
		font-size:  62px;
		font-weight: 300;
		text-align: center;

		/* Opcionales */
		// text-transform: uppercase;
	}
}