{# head.njk #}

<head>
	<meta charset="UTF-8">
	<title>{{landing.title | title}}</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	{# ./src/json/urls-dev|prod.json #}
	<link rel="stylesheet" href="{{url.base}}{{url.landing_name}}assets/css/landing.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>