<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{{url.base}}{{url.landing_name}}assets/js/landing-custom.js"></script>
{#<script src="{{url.base}}{{url.landing_name}}assets/js/form-landing.js"></script>#}
<script src="{{url.js}}"></script>